
.logo-container {
    height: 220px;
    padding: 10px;
    background-color: #4c8dff;
}

.logo-container img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profile-view {
    padding: 20px;
}

.profile-view ion-item {
    max-width: 343px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.profile-view ion-button {
    padding: 20px 0;
    max-width: 343px;
    display: block;
    margin: 0 auto;
}

