<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ selectedUserProfile?.firstName }} {{ selectedUserProfile?.lastName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-chat-message [message]="message" *ngFor="let message of messageList"></app-chat-message>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-send-messsage-box></app-send-messsage-box>
  </ion-toolbar>
</ion-footer>
