<div class="login-form">
  <ion-item>
    <ion-label position="floating" color="light">Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="account.email" color="light"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="light">Password</ion-label>
    <ion-input type="password" [(ngModel)]="account.password" color="light"></ion-input>
  </ion-item>
</div>
<ion-row justify-content-end>
  <div>
    <ion-button color="medium" (click)="navigateToRegisterPage()">Register</ion-button>
    <ion-button color="primary" (click)="login()">Login</ion-button>
  </div>
</ion-row>