
.login-form {
    padding: 20px;
}

ion-item {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

ion-row {
    margin: 0 auto;
    display: block;

    div ion-button:nth-of-type(1) {
        margin-right: 10px;
    }
}