<ion-item lines="none" *ngIf="user?.uid !== message.user; else alignRight">
  <ion-avatar slot="start">
    <img src="assets/avatar/avatar.png" alt="Avatar">
  </ion-avatar>
  <ion-label text-wrap>
    <h3>{{ senderProfile?.firstName }} {{ senderProfile?.lastName }}</h3>
    <p>{{ message.message }}</p>
    <p>{{ message?.created?.toDate() | date: 'dd/MM h:mm a' }}</p>
  </ion-label>
</ion-item>

<ng-template #alignRight>
  <ion-item lines="none">
    <ion-label class="align-right" text-wrap>
      <p>{{ message.message }}</p>
      <p>{{ message?.created?.toDate() | date: 'dd/MM h:mm a' }}</p>
    </ion-label>
  </ion-item>
</ng-template>