
// .register-content {
//     text-align: center;
//     height: 100%;
// }

// .vertical-align {
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);   
// }

// .profile-form {
//     padding: 20px;
// }

ion-item {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 5px;
}

ion-row div {
    margin: 0 auto;
    display: block;
}