
    <form #f="ngForm">

      <div class="profile-form">
        <ion-item>
          <ion-label position="floating" color="primary">First Name</ion-label>
          <ion-input type="text" [(ngModel)]="profile.firstName" name="firstName" #firstName="ngModel" required></ion-input>
        </ion-item>
        <div *ngIf="firstName.touched && firstName.invalid">
          <span class="global-error">First name is <strong>required</strong></span>
        </div>

        <ion-item>
          <ion-label position="floating" color="primary">Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="profile.lastName" name="lastName" #lastName="ngModel" required></ion-input>
        </ion-item>
        <div *ngIf="lastName.touched && lastName.invalid">
          <span class="global-error">Last name is <strong>required</strong></span>
        </div>

        <ion-item>
          <ion-label position="floating" color="primary">Date Of Birth</ion-label>
          <ion-datetime display-format="DD MMMM, YYYY" [(ngModel)]="profile.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" required></ion-datetime>
        </ion-item> 
        <div *ngIf="dateOfBirth.touched && dateOfBirth.invalid">
          <span class="global-error">Date of birth is <strong>required</strong></span>
        </div>
        
        <ion-item>
          <ion-label position="floating" color="primary">Phone</ion-label>
          <ion-input type="tel" [(ngModel)]="profile.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required></ion-input>
        </ion-item>
        <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
          <span class="global-error">A valid phone number is <strong>required</strong></span>
        </div>
      </div>
      
      <ion-row justify-content-end>
        <div>
          <ion-button (click)="saveProfile()" [disabled]="f.invalid">Save</ion-button>
        </div>
      </ion-row>
    </form>