


<form #f="ngForm">

  <div class="register-form">
    <ion-item>
      <ion-label position="floating" color="primary">Email Address</ion-label>
      <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" color="primary" required></ion-input>
    </ion-item>
    <div *ngIf="email.touched && email.invalid">
      <span class="global-error">Email address is not <strong>valid</strong></span>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" [(ngModel)]="account.password" name="password" #password="ngModel" color="primary" required></ion-input>
    </ion-item>
    <div *ngIf="password.touched && password.invalid">
      <span class="global-error">Password is <strong>required</strong></span>
    </div>
    
    <ion-item>
      <ion-label position="floating" color="primary">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="account.password" name="confirmPassword" #confirmPassword="ngModel" color="primary" required></ion-input>
    </ion-item>
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <span class="global-error">Confirm password is <strong>required</strong></span>
    </div>
  </div>
  
  <ion-row justify-content-end>
    <ion-button color="primary" (click)="register()" [disabled]="f.invalid">Register</ion-button>
  </ion-row>

</form>