<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="register-content">
    <div class="vertical-align">
      <img src="assets/logo/chat-logo.png" alt="logo" class="logo">
        
      <app-register-form (registerStatus)="register($event)"></app-register-form>
    </div>
  </div>

</ion-content>
